body {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
}

#player {
    width: 100px;
    height: 250px;
    position: absolute;
    z-index: 13;
    left: 120px;
}

.player {
    height: 250px;
    position: absolute;
    left: -50px;
}

.virus {
    position: absolute;
    background-size: cover;
    /*--background-color: orange;*/
    bottom: 115px;
    left: 0;
}

.vaccin {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 150px;
    background-size: cover;
    left: 0;
}

.virus {
    background-image: url('../img/Corona.png');
    bottom: 150px;
    width: 100px;
    height: 100px;
}

.facemask {
    background-image: url('../img/mask.png');
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    /*--background-color: orange;*/
    bottom: 115px;
    left: 0;
}

.vaccin {
    background-image: url('../img/vaccine.png');
}

/*.edge{
    width: 100px;
    height: 100px;
    border: solid 1px red;
}*/

.game-bg {
    background-color: #12003d;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.gamecontainer{
    height: 100vh;
    overflow: hidden;
}

.grid {
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.city {
    position: absolute;
    bottom: 100px;
    z-index: -3;
    overflow-y: hidden;
}

.road {
    height: 150px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    overflow-y: hidden;
}


.sky {
    position: absolute;
    top: 150px;
    overflow-y: hidden;
    z-index: -4;
}

.cloud {
    width: 80%;
    position: absolute;
    top: 100px;
    z-index: 5;
    overflow-y: hidden;
}

.road-bg {
    height: 150px;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    overflow-y: hidden;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.hit-player{
    display: none;
}

header { 
    position: absolute;
    background-color:rgba(255,255,255,0.3);
    width: 30%;
    top: 0;
    left: 0;
    border-radius:0 0 3rem 0;
    border-right: 5px groove rgba(255,255,255,0.8);
    border-bottom: 5px groove rgba(255,255,255,0.8);
}

nav {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

nav li {
    list-style: none;
}

.score-container img {
    width: 30px;
    margin-bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    
}

.score-container {
    display: flex;
    flex-direction: column;
}

/* TIMEOUT */ 

#seconds, .shield-by-mask {
	border-radius: 50%;
	color: white;
    font-family: 'IBM Plex Mono', monospace;
	font-size: 1.3rem;
    margin: 0;
}

.protection-container { 
    position: absolute;
    background-color:rgba(255,255,255,0.3);
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    right: 0;
    border-radius:0 0 0 3rem;
    border-left: 5px groove rgba(255,255,255,0.8);
    border-bottom: 5px groove rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

.vaccine-mask img {
    display: block;
    margin-bottom: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

.vaccine-mask {
    display: flex;
    flex-direction: column;
}

.vaccine-mask {
    text-align: center;
}


/* GAME OVER */

.gameover-container {
    margin-top: 2rem;
}

.gameover {
    position: relative;
    z-index: 100;
    color: white;
}

.gameover-text {
    position: absolute;
    width: 30%;
    top: 0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.gameover-text h2 {
    margin-top: 7rem;    
}

.gameover img {
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    top: 1.5rem;
    margin-left: auto;
    margin-right:auto;
}

/* BUTTONS */

@import url('https://fonts.googleapis.com/css?family=Carter+One');

    .game-button {
        position: relative;
        top: 0;
        cursor: pointer;
        text-decoration: none !important;
        font-family: 'Carter One', sans-serif;
        font-size: 1rem;
        text-shadow: 2px 2px 2px #ED3AED;
        border: none;
        margin: 15px 15px 30px;
        background-color: #F06EF4;
        border-bottom: 3px solid #CC33CC;
        border-top: 3px solid #F8B0F8;
        color: #fff !important;
        border-radius: 50px;
        padding: 6px 10px 6px;
        box-shadow: 0 6px 0 #B22CB2, 0 8px 1px 1px #330033, 0 10px 0 5px #4e254e, 0 12px 0 5px #6e406e, 0 15px 0 5px #4e254e, 0 15px 1px 6px #330033;
    }

    .game-button:hover {
        top:2px;
        box-shadow: 0 4px 0 #B22CB2, 0 6px 1px 1px #330033, 0 8px 0 5px #4e254e, 0 10px 0 5px #6e406e, 0 13px 0 5px #4e254e, 0 13px 1px 6px #330033;
    }

    .togglemusic{ 
        position: relative;
        top: 0;
        cursor: pointer;
        text-decoration: none !important;
        font-family: 'Carter One', sans-serif;
        font-size: 1rem;
        border: none;
        margin: 15px 15px 30px;
        background-color: #F06EF4;
        border-bottom: 3px solid #CC33CC;
        border-top: 3px solid #F8B0F8;
        color: #fff !important;
        border-radius: 50px;
        padding: 6px 10px 6px;
        box-shadow: 0 6px 0 #B22CB2, 0 8px 1px 1px #330033, 0 10px 0 5px #4e254e, 0 12px 0 5px #6e406e, 0 15px 0 5px #4e254e, 0 15px 1px 6px #330033;
    }

    .togglemusic:hover {
        top:2px;
        box-shadow: 0 4px 0 #B22CB2, 0 6px 1px 1px #330033, 0 8px 0 5px #4e254e, 0 10px 0 5px #6e406e, 0 13px 0 5px #4e254e, 0 13px 1px 6px #330033;
    }




@media (min-width: 1200px){
    

        /* GAME OVER */

        .gameover-text {
            width: 25%;
            top: 10rem;
            font-size: 1rem;
        }

        .gameover img {
            margin-top: 6rem;
            width: 30%;
        }

        /* GAME BUTTONS */

        .game-button {
            font-size: 1rem;
        }

        .game-button:hover {
            top:2px;
            box-shadow: 0 4px 0 #B22CB2, 0 6px 1px 1px #330033, 0 8px 0 5px #4e254e, 0 10px 0 5px #6e406e, 0 13px 0 5px #4e254e, 0 13px 1px 6px #330033;
        }
  
    }

    @media (min-width: 1300px){
    

        /* GAME OVER */

        .gameover-text {
            width: 25%;
            top: 6rem;
            font-size: 1rem;
        }

        .gameover img {
            margin-top: 6rem;
            width: 30%;
        }

  
    }

@media (min-width: 1500px){
    

    /* GAME OVER */

    .gameover-text {
        width: 22%;
        top: 8rem;
        font-size: 1.1rem;
    }

    .gameover img {
        margin-top: 6rem;
        width: 28%;
    }

    /* GAME BUTTONS */

    .game-button {
        font-size: 1.5rem;
    }

    .game-button:hover {
        top: 2px;
        box-shadow: 0 4px 0 #B22CB2, 0 6px 1px 1px #330033, 0 8px 0 5px #4e254e, 0 10px 0 5px #6e406e, 0 13px 0 5px #4e254e, 0 13px 1px 6px #330033;
    }
}

@media (min-width: 2000px){
    .home-bg {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-buttons a {
        background-color:rgba(255,255,255,0.5);
        border-radius: 50px;
        text-decoration: none;
        width: 20%;
        margin:auto;
        display: block;
        padding:1.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
        color: #348789;
        border: 4px solid #348789;
    }

    /* GAME OVER */

    .gameover-container {
        margin-top: 2rem;
    }

    .gameover {
        position: relative;
        z-index: 100;
        color: white;
    }

    .gameover-text {
        width: 18%;
        top: 6rem;
        font-size: 1.2rem;
    }

    .gameover img {
        margin-top: 2rem;
        width: 25%;    
    }
}