body {
    overflow: hidden;
}

.hidden {
    display: none;
}

/* HOME PAGE */

.titel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 300px;
}

.video-titel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 280px;
}

.home-bg, .videolist-bg {
    background-image: url('../img/bg-ipad.png');
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    
}

.home-buttons{
    margin-top: 0rem;
}

.home-buttons ul li, .videolist-buttons ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 2rem;
}

.home-buttons a {
    background-color:rgba(255,255,255,0.9);
    border-radius: 50px;
    text-decoration: none;
    margin:auto;
    display: block;
    padding:1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.3);
    color: #348789;
    border: 4px solid #348789;
}


/* VIDEO PAGE */

.video-container{ 
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Carter One', sans-serif;
        font-size: 1rem;
        text-shadow: 2px 2px 2px #ED3AED;
        border: none;
        background-color: #F06EF4;
        border-bottom: 3px solid #CC33CC;
        border-top: 3px solid #F8B0F8;
        color: #fff !important;
        border-radius: 50px;
        padding: 6px 10px 6px;
        box-shadow: 0 6px 0 #B22CB2;
}

.tabs video {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.tabs__sidebar {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.tabs__button {
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 1rem;
    border: none;
    margin: 10px;
    background-color: #76c8df;
    border-bottom: 3px solid #46a6be;
    border-top: 3px solid #b9f1ff;
    color: #fff !important;
    border-radius: 50px;
    padding: 6px 10px 6px;
    box-shadow: 0 6px 0 #348aa0, 0 8px 1px 1px #164f5e, 0 10px 0 5px #1b5a69, 0 12px 0 5px #297285, 0 15px 0 5px #1b5a69, 0 15px 1px 6px #0d3a46;
}

.tabs__button:hover {
    top:2px;
    background-color: #a9df76;
    border-bottom: 3px solid #7cbe46;
    border-top: 3px solid #d8ffb9;
    box-shadow: 0 4px 0 #4da034, 0 6px 1px 1px #2d5e16, 0 8px 0 5px #34691b, 0 10px 0 5px #468529, 0 13px 0 5px #3a691b, 0 13px 1px 6px #27460d;
}

.tabs__button--active {
    background-color: #a9df76;
    border-bottom: 3px solid #7cbe46;
    border-top: 3px solid #d8ffb9;
    box-shadow: 0 4px 0 #4da034, 0 6px 1px 1px #2d5e16, 0 8px 0 5px #34691b, 0 10px 0 5px #468529, 0 13px 0 5px #3a691b, 0 13px 1px 6px #27460d;
    color: white;
}

.home-buttons a {
    width: 20%;
}

.videolist-buttons a {
    width: 50%;
}

.tabs__content {
    display: none;
    margin: 1rem;
}

.tabs__content--active {
    display: block;
}

@media (min-width: 900px){
    .home-bg, .videolist-bg{
        background-position: center;
    }

    .home-buttons a {
        background-color:rgba(255,255,255,0.5);
        border-radius: 50px;
        text-decoration: none;
        width: 20%;
        margin:auto;
        display: block;
        padding:1.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
        color: #348789;
        border: 4px solid #348789;
    }

}

@media (min-width: 2000px){
    .home-bg, .videolist-bg {
        background-repeat: no-repeat;
        background-size: 134rem;
    }

    .home-buttons a {
        background-color:rgba(255,255,255,0.5);
        border-radius: 50px;
        text-decoration: none;
        width: 20%;
        margin:auto;
        display: block;
        padding:1.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
        color: #348789;
        border: 4px solid #348789;
    }

}

